# History files
.Rhistory
.Rapp.history

# Session Data files
.RData
# Example code in package build process
*-Ex.R
# Output files from R CMD build
/*.tar.gz
# Output files from R CMD check
/*.Rcheck/
# RStudio files
.Rproj.user/
# produced vignettes
vignettes/*.html
vignettes/*.pdf
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth
# knitr and R markdown default cache directories
/*_cache/
/cache/
# Temporary files created by R markdown
*.utf8.md
*.knit.md
# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
#Temport Directory
/tmp
inst/doc
vignettes/tmp/ttisf898.alf
docs
export
vignettes/tmp/ttisf898.dat
vignettes/tmp/ttisf898.mca
vignettes/tmp/ttisf898.flf
vignettes/tmp/ttisf898.msn
vignettes/tmp/ttisf898.set
vignettes/tmp/ttisf898.tsi
vignettes/tmp/ttisf898.ztr
